<div class='row'>
  <div class='col-md-8 offset-md-3'>
    <h3>{{ title }}</h3>
  </div>
</div>

<div class='row' *ngIf="errors">
  <div class='col-md-8 offset-md-3'>
    <h5 style="color: red;">Errors: {{ errors }}</h5>
  </div>
</div>

<div class='row'>
  <div class='col-md-4 offset-md-3'>
    <form [formGroup]='formdata'>
      <div class='form-group'>
        <label for='productName'>
          Product Name
        </label>
        <input class='form-control' 
          id='productName' 
          type='text' 
          name='name' 
          formControlName='name'
        >
      </div>
      <div class='form-group'>
        <label for='productDesc'>
          Description
        </label>
        <input class='form-control' 
          id='productDesc' 
          type='text' 
          name='description' 
          formControlName='description'
        >
      </div>
      <div class='form-group'>
        <label for='productPrice'>
          Price
        </label>
        <input class='form-control' 
          id='productPrice' 
          type='text' 
          name='price' 
          formControlName='price'
        >
      </div>
    </form>
    <div class='row'>
      <div class="col-sm-6">
        <button (click)=submit(formdata.value) class="btn btn-primary">Submit</button>
      </div>
      <div class="col-sm-3 text-right">
        <button (click)='cancel()' class="btn btn-secondary">Cancel</button>
      </div>
      <div class="col-sm-3 text-right">
        <button (click)='delete()' class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
